<h1>Search!</h1>



<nav class="users-search">
  <label>Username</label>
  <input class="user-search-name"
  type="text"
  name="username"
  />
  <label>Results</label>
  <ul class="users"></ul>

</nav>
